@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
  --principal-color: #F5F5F5;
  --second-color: #FFFFFF;
  --third-color: #373737;
  --fourth-color: #455090;
  --fifth-color: #102437;
  --font-family: "Zain", sans-serif;
  --font-size: 16pt;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--third-color);
  background-color: var(--principal-color);
  margin: 0;
  padding: 0;
}